:root {
    font-family: Orbitron, Helvetica, Arial, sans-serif;
    color: whitesmoke;
    background-color: rgba(26, 26, 26, 0.975);
}

/* Styling for HTML elements */
body {
    margin: 0px;
}

img {
    background-color: yellow;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

hr {
    width: 85%;
    margin: auto;
    margin-top: 1em;
}

button {
    padding: 0.4em;
    margin-top: 1rem;
    background-color: rgb(16, 156, 238);
    color: white;
    border-radius: 6px;
    border-color: transparent;
    transition: 0.25s ease;
    cursor: pointer;
}

button:hover {
    border-color: black;
    background-color: rgb(31, 162, 238);
}

input {
    margin-top: 1em;
    height: 3em;
	border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-left: 0.5em;
	transition: 0.25s ease;
}

/* Styles for pseudo-classes */
::placeholder {
    font-family: Quantico, "Chakra Petch", Orbitron, Helvetica, Arial, sans-serif;
}

/* Styling for reusable classes */
.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    justify-self: center;
}

.black-bg {
    background-color: rgba(0, 0, 0, 1);
}

.transparent-bg {
    background-color: transparent;
}

.white-bg {
    background-color: white;
    color: black;
}

.rounded-border {
    border: 2px solid transparent;
    border-radius: 1em;
}

.rounded-border-percent {
    border: 2px solid transparent;
    border-radius: 10%;
}

.panel {
    background-color: aliceblue;
    color: black;
    box-shadow: 2px 2px #ffffff6e;
    height: auto;
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 10vh;
}

.bold-text {
    font-weight: bold;
}

/* Styling for individual elements (IDs) */
#titlebar {
    padding: 2em;
    flex: 1;
}

#account-buttons {
    display: flex;
    gap: 1em;
    margin-right: 2em;
    font-size: 20px;
    color: white;
}

#login-btn, #signup-btn {
    width: auto;
    padding: 0.5em;
}

#signup-btn {
    background-color: aliceblue;
}

#login-btn:hover, #signup-btn:hover {
    cursor: pointer;
    border-color: grey;
}

#introduction {
    margin-top: 1em;
    width: 95%;
    height: 10em;
    align-content: center;
}

#homepage-content {
    justify-content: center;
}

#latest-runs, #trending-games {
    width: 46.9%;
    margin-top: 4em;
    height: 10em;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    .container {
        width: 98%;
    }

    .panel {
        width: 98%;
    }
}