<div class="bg-gray-800 p-6 rounded-lg shadow-lg flex items-center mb-4">
    <div class="mr-6">
        <a href="{{ url_for('profile', username=tournament.user.username) }}"><img src="{% if tournament.user.profile_picture.startswith('http') %} {{ tournament.user.profile_picture}} {% else %} {{ url_for('upload', filename=tournament.user.profile_picture) }} {% endif %}" alt="Profile Picture" class="w-24 h-24"></a>
        <p class="center"><strong>{{ tournament.user.username }}</strong></p>
    </div>
    <div class="flex-grow">
        <h4 class="text-md font-semibold mb-2 text-white">{{ tournament.name }}</h4>
        <p class="text-gray-400">Game: {{ tournament.game_title }}</p>
        <p class="text-gray-400 mb-4">Date: {{ tournament.date }}</p>
        <a onclick="showDetails('{{ tournament.id }}')" class="btn-details text-blue-400 hover:underline">View Details</a>
    </div>
    <img src="{% if tournament.image.startswith('http') %} {{ tournament.image }} {% else %} {{ url_for('upload', filename=tournament.image) }} {% endif %}" alt="Game Preview" class="w-24 h-24 object-cover rounded-md ml-4">
</div>
<div id="details-{{ tournament.id }}" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-6 max-w-lg w-full relative">
        <div class="center">
            <img src="{% if tournament.user.profile_picture.startswith('http') %} {{ tournament.user.profile_picture}} {% else %} {{ url_for('upload', filename=tournament.user.profile_picture) }} {% endif %}" alt="Profile Picture" class="w-24 rounded-full center">
            <p class="text-black center"><strong>{{ tournament.user.username }}</strong></p>
        </div>
        <button onclick="hideDetails('{{ tournament.id }}')" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 flex items-center justify-center px-2 py-1 rounded-full border border-gray-400 bg-white/80" style="width:auto; min-width:0;">
            <span class="text-2xl mr-1">&times;</span>
            <span class="text-base font-medium">Close</span>
        </button>
        <h4 class="text-xl font-bold mb-2 text-black">{{ tournament.name }}</h4>
        <p class="mb-2 text-gray-700"><strong>Game:</strong> {{ tournament.game_title }}</p>
        <p class="mb-2 text-gray-700"><strong>Date:</strong> {{ tournament.date }}</p>
        <p class="mb-2 text-gray-700"><strong>Details:</strong> {{ tournament.details or "No details provided." }}</p>
        <p class="mb-2 text-gray-700"><strong>Outcome: </strong> {{ tournament.result }} ({{ tournament.points }} points)</p>
        <img src="{% if tournament.image.startswith('http') %} {{ tournament.image }} {% else %} {{ url_for('upload', filename=tournament.image) }} {% endif %}" alt="{{ tournament.name }}" class="w-32 h-32 object-cover rounded-md mt-2 center">
    </div>
</div>