<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <!-- File links -->
        <link href="/static/css/styles.css" rel="stylesheet">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <!-- Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download" />

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container-flex black-bg">
            <div id="titlebar">
                <h1 class="center transparent-bg"><a href="{{ url_for('index') }}">Tournament Manager</a></h1>
            </div>
            {% if current_user.is_anonymous %}
                <div id="account-buttons">
                    <div id="login-btn" class="center rounded-border-percent"><a href="{{ url_for('login') }}">Log In</a></div>
                    <div id="signup-btn" class="center rounded-border-percent"><a href="{{ url_for('signup') }}" style="color: black;">Sign Up</a></div>
                </div>
            {% else %}
                <div id="profile-icon" class="transparent-bg">
                    <img src="{{ current_user.profile_picture }}" id="profile-icon-picture">
                </div>
                <a href="{{ url_for('signout') }}" style="position: absolute; z-index: 4;">Sign Out</a>
                <!-- TODO: Add a dropdown bar with choices like accessing the user's profile, settings, and signing out where the profile picture is -->
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>