{% extends "base.html" %}

{% block title %}
Tournament Manager - Search Users
{% endblock %}

{% block body %}
<div id="user-background">
    <div id="user-profile-panel" class="center">
        <div class="center" style="width: 70%;">
            <h2 class="heading font-bold">Search for Users</h2>
            <input type="text" placeholder="Search Username" class="rounded-border" style="font-size: 16px; color: black;">
        </div>
        <div id="retrievedUsers" style="overflow-y: auto;">
        </div>
    </div>
</div>
<script src="static/js/search_users.js"></script>
{% endblock %}