{% extends "base.html" %}

{% block title %}
Tournament Manager - Browse Tournaments
{% endblock %}

{% block body %}
    {% if tournaments %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-10">
            {% for tournament in tournaments %}
                {% include "_tournament.html" %}
            {% endfor %}
        </div>
    {% else %}
        <div class="center ">
            <h1 class="heading m-5">There are no tournaments currently available.</h1>
            <a href="{{ url_for('main.tournament') }}" class="bg-gray-600 text-white px-6 py-3 rounded-md text-center hover:bg-gray-700 transition hover:no-underline">Create New Tournament</a>
        </div>
    {% endif %}
{% endblock %}