{% extends "base.html" %}

{% block title %}
Tournament Manager - {{ user.username }}
{% endblock %}

{% block body %}
<div id="user-background">
    <div id="user-profile-panel" class="center">
        <div class="flex items-center gap-4" id="user-heading">
            <img src="{% if user.profile_picture.startswith('http') %} {{ user.profile_picture}} {% else %} {{ url_for('upload', filename=user.profile_picture) }} {% endif %}" alt="Profile Picture" class="w-24 h-24 rounded-full object-cover">
            <div class="flex flex-col">
                <h1 class="font-bold text-white text-left text-3xl">{{ user.username }}</h1>
                {% if user.private == 0 or user.username == current_user.username or current_user.is_friends_with(user) %}
                    <p class="text-med text-gray-500 text-left">This user was last seen {{ moment(user.last_login).fromNow() }} ({{ moment(user.last_login).format('LLLL') }})</p>
                {% endif %}
                {% if user.username == current_user.username %}
                    <a href="{{ url_for('edit_profile') }}" style="text-align: left;">Edit Profile</a>
                {% endif %}
            </div>
                {% if user != current_user %}
                    <div class="flex justify-center items-center">
                        {% if user.is_friends_with(current_user) %}
                            <button class="p-2 w-full text-lg font-bold border-none bg-red-500 hover:bg-red-700 transition m-auto" id="remove-friend">Unfollow User</button>
                        {% else %}
                            <button class="p-2 w-full text-lg font-bold border-none bg-gray-500 hover:bg-gray-600 transition m-auto" id="add-friend">Follow User</button>
                        {% endif %}
                    </div>
                {% endif %}
        </div>
        {% if user.private == 0 or user.username == current_user.username or current_user.is_friends_with(user) %}
            <h1 class="text-3xl font-bold mt-10">User Statistics</h1>
            <div class="flex-col w-1/6 h-1/6 mt-5 center">
                    <div class="center h-5/6 w-5/6">
                        <canvas></canvas>
                    </div>
                </div>
            <div class="w-95/100 h-auto flex flex-wrap p-6 mb-2 gap-20 text-white justify-center items-center">
                <div class="flex-col">
                    <p id="totalGames" class="text-5xl">{{ statistics.total_games }}</p>
                    <p class="text-bold text-lg">TOTAL GAMES PLAYED</p>
                </div>
                <div class="flex-col">
                    <p id="avgPoints" class="text-5xl">{{ statistics.avg_points }}</p>
                    <p class="text-bold text-lg">AVERAGE POINTS</p>
                </div>
                <div class="flex-col">
                    <p id="wins" class="text-5xl">{{ statistics.wins }}</p>
                    <p class="text-bold text-lg">WINS</p>
                </div>
                <div class="flex-col">
                    <p id="losses" class="text-5xl">{{ statistics.losses }}</p>
                    <p class="text-bold text-lg">LOSSES</p>
                </div>
                <div class="flex-col">
                    <p id="draws" class="text-5xl">{{ statistics.draws }}</p>
                    <p class="text-bold text-lg">DRAWS</p>
                </div>
            </div>
            <div class="container flex mt-5 p-5 gap-5 center">
                <div class="w-1/2" id="friends">
                    <h1 class="font-bold text-3xl">Following</h1>
                    <div class="p-2 max-h-60 overflow-y-auto center">
                    {% if following %}
                        {% for follow in following %}
                            <div class="flex items-center h-20 bg-gray-900 mt-2 pl-2 gap-4 rounded-border" id="{{ follow.username }}">
                                <a href="{{ url_for('profile', username=follow.username) }}"><img src="{% if follow.profile_picture.startswith('http') %} {{ follow.profile_picture }} {% else %} {{ url_for('upload', filename=follow.profile_picture) }} {% endif %}" alt="Profile Picture" class="h-[4em]"></a>
                                <div class="flex flex-col">
                                    <p class="text-med font-bold text-left">{{ follow.username }}</p>
                                    <p class="text-sm text-gray-500 text-left">Following since {{ moment(follow.last_login).format('LL') }}</p>
                                </div>
                                {% if user.username == current_user.username %}
                                    <button class="bg-red-500 hover:bg-red-700 border-none p-1 ml-auto mr-2">Unfollow User</button>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-white text-med">{% if user.username == current_user.username %}You aren't following anyone.{% else %}This user isn't following anyone.{% endif %}</p>
                    {% endif %}
                    </div>
                    {% if user.username == current_user.username %}
                        <a href="{{ url_for('search') }}" class="block text-lg py-2 bg-gray-700 hover:bg-gray-600 transition hover:no-underline w-1/5 mt-2 rounded center">Find Users</a>
                    {% endif %}
                </div>
                <div class="w-1/2">
                    <h1 class="font-bold text-3xl">Followers</h1>
                    {% if followers %}
                        <div class="p-2 max-h-60 overflow-y-auto center">
                        {% for follow in followers %}
                            <div class="flex items-center h-20 bg-gray-900 mt-2 pl-2 gap-4 rounded-border" id="{{ follow.username }}">
                                <a href="{{ url_for('profile', username=follow.username) }}"><img src="{% if follow.profile_picture.startswith('http') %} {{ follow.profile_picture }} {% else %} {{ url_for('upload', filename=follow.profile_picture) }} {% endif %}" alt="Profile Picture" class="h-[4em]"></a>
                                <div class="flex flex-col">
                                    <p class="text-med font-bold text-left">{{ follow.username }}</p>
                                    <p class="text-sm text-gray-500 text-left">Followed since {{ moment(follow.last_login).format('LL') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-white text-med">{% if user.username == current_user.username %}You aren't being followed by anyone.{% else %}This user isn't being followed by anyone.{% endif %}</p>
                    {% endif %}
                </div>
            </div>
            <div class="container w-4/5 p-5 center">
                <h1 class="font-bold text-3xl">Tournaments</h1>
                {% if user.tournaments %}
                    <div class="p-2 flex-grow max-h-80 overflow-y-auto center grid grid-cols-1 md:grid-cols-2 gap-5" id="tournaments">
                        {% for tournament in user.tournaments %}
                            {% include "_tournament_profile.html" %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-white text-med">This user has not competed in any tournaments yet.</p>
                {% endif %}
                {% if user.username == current_user.username %}
                    <a href="{{ url_for('tournament') }}" class="block text-lg py-2 bg-gray-700 hover:bg-gray-600 transition hover:no-underline w-1/5 mt-2 rounded center">Add Tournament</a>
                {% endif %}
            </div>
        {% else %}
            <h1 class="heading">This user has their profile set to private!</h1>
        {% endif %}
    </div>
</div>
<script src="../static/js/details.js"></script>
<script src="../static/js/delete_tournaments.js"></script>
<script src="../static/js/remove_friend.js"></script>
<script src="../static/js/profile_friend_requests.js"></script>
<script src="../static/js/chart.js"></script>
{% endblock %}
